<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/stack_icon.png') }}" />
    <title>Recommandation de Tag</title>
</head>
<body>
	<div id="titre">
		<h1 align="center"> API de recommandation de tag </h1>
	</div>
	
	<div id="conteneur1"> 
		<div id="bloc1" class="box">
			<h2 align="center" style=" text-decoration: underline; ">Posez votre question</h2>
			<p><strong>Instruction :</strong> Entrez un titre et votre question puis validez pour obtenir quelque recommandations de tags. </p>
			<p><strong>Note :</strong> L'analyse et la préparation du texte sont basées sur la langue anglaise. </p>

			<form method="post" action="/index/" >
				<div class="champ">
					<label for="tit">Titre :</label><br />
					<input type="text" name="tit" id="tit" value="{{ val_titre }}"/> 
					<br />
					<br />
					<label for="corp">Question :</label><br />
					<textarea name="corp" id="corp">{{ val_corp }}</textarea>  
					<br />
					<br />
					<input type="submit" name = "action" value="Valider" />  
					<input type="submit" name = "action" value="Clear" /> 
					{% if last_act == "Valider" %}
						<br />
						<br />
						<input type="submit" name = "action" value="Corpus" /> 
					{% endif %}
					<input type="hidden" name = "id_ex" value= "{{ id_ex }}" />
					<input type="hidden" name = "val_tag_lda" value= "{{ val_tag_lda }}" />
					<input type="hidden" name = "val_tag_rl" value= "{{ val_tag_rl }}" />
					</form>
				</div>
				
				{% if voir_corpus == 1: %} 
					<p style=" text-decoration: underline; font-style: italic; " >corpus :</p>
					<p style=" font-style: italic; ">{{ corpus }}</p>	
				{% endif %}    	
			</form>

		</div>
		<div id="conteneur2">
			<div id="bloc2" class="box"  style="text-align: center;">
				<img src="{{ url_for('static', filename='images/im.png') }}" alt="Stacoverflow" title="Stacoverflow" style=style="width: 50px;" />
				<br/>
				<h2 align="center" style=" text-decoration: underline; ">Remplissage automatique</h2>
				<p class="text">
					Pour tester l'API de recommandation de tag, vous pouvez remplir les champs automatiquement en cliquant sur le bouton "remplir". Une question sera selectionnée aleatoirement parmi un pannel de 500 questions extraitent du forum de stacoverflow.
				</p>
				<form method="post" action="/index/" >
					<div id="btremplir">
						<input type="submit" name = "action" value="remplir" /> 
					</div>
				</form>

			</div>
			<div id="bloc3" class="box">
				<h2 align="center" style=" text-decoration: underline; ">Resultat</h2>
				<h4 style=" text-decoration: underline;"> Tags réel : </h4>
				{% for tag_true in val_tag_true: %}
					<span class="tag">{{ tag_true }}</span><span> </span>
				{% endfor %}	
				<h4 style=" text-decoration: underline;"> Tags proposé par un appentissage non-supervisé : </h4>
				{% for tag_lda in val_tag_lda: %}
					<span class="tag">{{ tag_lda }}</span><span> </span>
				{% endfor %}
				<h4 style=" text-decoration: underline;"> Tags proposé par un appentissage supervisé : </h4>
				{% for tag_rl in val_tag_rl: %}
					<span class="tag">{{ tag_rl }}</span><span> </span>
				{% endfor %}
			</div>
		</div>	
	</div>
</body>
</html>